################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio/config
/.vs/Portfolio/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
